@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 152 70% 8%;
    --foreground: 156 30% 95%;

    --card: 152 60% 12%;
    --card-foreground: 156 30% 95%;

    --popover: 152 60% 12%;
    --popover-foreground: 156 30% 95%;

    --primary: 152 55% 45%;
    --primary-foreground: 152 80% 97%;

    --secondary: 152 40% 20%;
    --secondary-foreground: 156 30% 95%;

    --muted: 152 50% 15%;
    --muted-foreground: 156 25% 75%;
    
    --accent: 152 50% 25%;
    --accent-foreground: 156 30% 95%;

    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 98%;

    --border: 152 40% 25%;
    --input: 152 40% 25%;
    --ring: 152 55% 55%;

    --chart-1: 152 55% 45%;
    --chart-2: 152 55% 55%;
    --chart-3: 152 55% 65%;
    --chart-4: 152 55% 35%;
    --chart-5: 152 55% 75%;

    --radius: 0.75rem;

    /* 侧栏 */
    --sidebar-background: 210 20% 97%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 152 61% 36%;
    --sidebar-primary-foreground: 152 80% 97%;
    --sidebar-accent: 156 58% 92%;
    --sidebar-accent-foreground: 156 34% 22%;
    --sidebar-border: 214 15% 88%;
    --sidebar-ring: 152 61% 36%;
  }

  .dark {
    --background: 152 70% 8%;
    --foreground: 156 30% 95%;

    --card: 152 60% 12%;
    --card-foreground: 156 30% 95%;

    --popover: 152 60% 12%;
    --popover-foreground: 156 30% 95%;

    --primary: 152 55% 45%;
    --primary-foreground: 152 80% 97%;

    --secondary: 152 40% 20%;
    --secondary-foreground: 156 30% 95%;

    --muted: 152 50% 15%;
    --muted-foreground: 156 25% 75%;
    
    --accent: 152 50% 25%;
    --accent-foreground: 156 30% 95%;

    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 98%;

    --border: 152 40% 25%;
    --input: 152 40% 25%;
    --ring: 152 55% 55%;

    --chart-1: 152 55% 45%;
    --chart-2: 152 55% 55%;
    --chart-3: 152 55% 65%;
    --chart-4: 152 55% 35%;
    --chart-5: 152 55% 75%;

    --sidebar-background: 222 40% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 152 55% 45%;
    --sidebar-primary-foreground: 152 80% 12%;
    --sidebar-accent: 167 45% 18%;
    --sidebar-accent-foreground: 152 80% 90%;
    --sidebar-border: 217 19% 18%;
    --sidebar-ring: 152 55% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
