@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 124 43% 94%;
    --foreground: 120 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 120 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 25% 15%;
    --primary: 136 44% 34%;
    --primary-foreground: 136 33% 94%;
    --secondary: 120 5% 96%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 5% 96%;
    --muted-foreground: 120 5% 55%;
    --accent: 98 62% 85%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 89%;
    --input: 120 5% 89%;
    --ring: 136 44% 34%;
    --chart-1: 136 44% 34%;
    --chart-2: 109 50% 74%;
    --chart-3: 98 62% 85%;
    --chart-4: 136 30% 60%;
    --chart-5: 109 30% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 120 25% 15%;
    --sidebar-primary: 136 44% 34%;
    --sidebar-primary-foreground: 136 33% 94%;
    --sidebar-accent: 124 43% 94%;
    --sidebar-accent-foreground: 120 25% 15%;
    --sidebar-border: 120 5% 89%;
    --sidebar-ring: 136 44% 34%;
  }
  .dark {
    --background: 120 25% 10%;
    --foreground: 124 43% 94%;
    --card: 120 25% 12%;
    --card-foreground: 124 43% 94%;
    --popover: 120 25% 12%;
    --popover-foreground: 124 43% 94%;
    --primary: 136 33% 94%;
    --primary-foreground: 136 44% 34%;
    --secondary: 120 5% 15%;
    --secondary-foreground: 124 43% 94%;
    --muted: 120 5% 15%;
    --muted-foreground: 120 5% 65%;
    --accent: 120 25% 15%;
    --accent-foreground: 124 43% 94%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 18%;
    --input: 120 5% 18%;
    --ring: 136 33% 94%;
    --chart-1: 136 33% 94%;
    --chart-2: 109 40% 64%;
    --chart-3: 98 52% 75%;
    --chart-4: 136 20% 50%;
    --chart-5: 109 20% 70%;
    --sidebar-background: 120 25% 10%;
    --sidebar-foreground: 124 43% 94%;
    --sidebar-primary: 136 33% 94%;
    --sidebar-primary-foreground: 136 44% 34%;
    --sidebar-accent: 120 25% 15%;
    --sidebar-accent-foreground: 124 43% 94%;
    --sidebar-border: 120 5% 18%;
    --sidebar-ring: 136 33% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
